[Unit]
Description=Synchronize PTP hardware clock to GPS
After=time-set.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/gps4ptp -sdlog
[Install]
WantedBy=multi-user.target
