[Unit]
Description=Synchronize PTP hardware clock to GPS on /dev/%I
After=time-set.target
After=dev-%i.device
BindsTo=dev-%i.device

[Service]
Type=simple
ExecStart=/usr/sbin/satpulsed --wait --systemd-log --serial-device "/dev/%I" -f "/etc/satpulse.d/%I.toml" -f /etc/satpulse.toml
Restart=on-failure
RestartPreventExitStatus=64 77 78
# If it doesn't shutdown gracefully in 5 seconds, something's gone wrong.
TimeoutStopSec=5
# Sending a SIGQUIT makes the Go runtime dump goroutines,
# which will be useful in determing why graceful shutdown got stuck.
FinalKillSignal=SIGQUIT

# Security hardening: restrict the privileges available to the root process.
# CAP_SYS_TIME is needed for setting the PHC clock.
# CAP_CHOWN is needed to chown proxy listener sockets to a configured group.
# CAP_NET_BIND_SERVICE allows binding HTTP/proxy listeners to low ports.
CapabilityBoundingSet=CAP_SYS_TIME CAP_CHOWN CAP_NET_BIND_SERVICE
NoNewPrivileges=yes
ProtectSystem=full
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
ProtectKernelTunables=yes
ProtectKernelLogs=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
ProtectControlGroups=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
#DefaultInstance=ttyAMA0
